.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding-top: 5px;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

.BuildControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 5px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #e33014;
    color: white;
}

.BuildControl .More {
    background-color: #10c23c;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #f55c45;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #2adb74;
    color: white;
}

.Quantity {
    padding: 5px;
    font-weight: bold;
    width: auto;
    color: white;
}